@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: rgb(44, 152, 210);
}

h1 {
     text-decoration: underline;
     text-align: center;
     padding-top: 30px;
}

#links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
}

#linkedin {
    text-align: center;
}

#github {
    grid-column: 3/4;
    text-align: center;
}

@media screen and (max-height: 450px) {
    body {
        width: 60%;
    }
  }
